<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Note List</title>
    </head>
    <body>

        {% include 'navbar.html' %}

        <style>
            body {
                background-color: #c4ebff;
            }

            #table_of_friends {
                border-collapse: collapse;
                border-radius: 5px;
                {#border-spacing: 25px 5px;#}
                background-color: #defff5;
                display: inline-block;
                text-align: center;
                transition: background-color 2s ease-in;
            }

            #table_of_friends th{
                font-size: 15pt;
            }

            #table_of_friends tr:first-child{
                background-color: #f08b8b;
                border-radius: 5px;
            }
            #table_of_friends tr th:first-child{
                border-radius: 5px 0 0 0;
            }
            #table_of_friends tr th:last-child{
                border-radius: 0 5px 0 0;
            }

            #table_of_friends tr{
                transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
            }

            #table_of_friends tr:hover:not(:first-child){
                background-color: #bbd8ff;
            }

            #table_of_friends td{
                padding: 4px 8px 4px 8px;
                min-width: 92px;
                max-width: 200px;
            }

            #table_of_friends td:last-child{
                max-width: 400px;
            }


            #horizontal_center{
                grid-row-start: 2;
                display: inline-block;
                text-align: center;
                vertical-align: middle;
                padding: 30px 30px 30px 30px;
            }

            #vertical_center{
                height: 95vh;
                display: grid;
                grid-template-rows: 1fr auto 1fr 40px;
                justify-content: center;
            }
        </style>

        <div id="vertical_center">
        <div id="horizontal_center">
        <table id="table_of_friends">
            <tr>
                <th>from</th>
                <th>to</th>
                <th>title</th>
                <th>message</th>
            </tr>


            {% for note in notes %}
            <tr>
                <td>{{ note.dari }}</td>
                <td>{{ note.to }}</td>
                <td>{{ note.title }}</td>
                <td>{{ note.message }}</td>
            </tr>
            {% endfor %}


        </table>
        </div>
        </div>
    </body>
</html>
