<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulir pengisian Note</title>
</head>
<body style="background-color: #fcfff5;">

    {% include 'navbar.html' %}

    <style>
        #outter_div{
            display: grid;
            grid-template-rows: 1fr auto 1fr 40px;
            justify-content: center;
            height: 95vh;
        }

        #middle_div{
            grid-row-start: 2;
            border-radius: 5px;
            border-width: 2px;
            border-color: #3697ff;
            border-style: groove;
            padding: 10px 18px;
            display: inline-block;
            text-align: center;
        }

        label{
            min-width: 5em;
            display: inline-block;
            text-align: left;
            vertical-align: top;
        }

        input[type="text"], textarea{
            width: 200px;
        }


        input{
            border-width: 0;
            border-radius: 3px;
            background-color: #ffa6a6;

            transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
        }

        input:focus{
            border-color: white;
            background-color: #c3f3f8;
        }
        input[type="submit"]:hover{
            border-color: white;
            background-color: #d9c5a0;
            color: black;
        }



        textarea{
            border-width: 0;
            border-radius: 3px;
            background-color: #ffa6a6;
            height: 50px;

            transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
        }

        textarea:focus{
            border-color: white;
            background-color: #c3f3f8;
        }
    </style>

    <div id="outter_div">
    <div id="middle_div">
    <form action="" method="post">
        {%  csrf_token %}
        {{ formulir.as_p }}

        <div style="text-align: right;">
            <input type="submit" style="display: inline-block; cursor: pointer;">
        </div>
    </form>
    </div>
    </div>

</body>
</html>