{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Note List  --  Card</title>

        <link rel="stylesheet" href="{% static  'css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static  'css/lab4_note_list.css' %}" />
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    </head>


    <body class="negative_z_index">

        {% include 'navbar.html' %}

        <div class="negative_z_index">
            {% for note in notes %}
                <div class="MessageCard m-1 rounded-3"  id="MessageCard_{{ forloop.counter0 }}">
                    <div class="d-inline-flex p-2 rounded-top MessageCard_header">
                        {{ note.title }}
                    </div>

                    <div class="MessageCard_content p-2">
                        <div class="MessageCard_content_FromToWrapper">
                            <div class="MessageCard_content_FromWrapper">
                                <div class="MessageCard_content_keyFrom">From</div>
                                <div class="MessageCard_content_valueFrom">{{ note.dari }}</div>
                            </div>

                            <div class="MessageCard_content_ToWrapper">
                                <div class="MessageCard_content_keyTo">To</div>
                                <div class="MessageCard_content_valueTo">{{ note.to }}</div>
                            </div>
                        </div>

                        <div class="MessageCard_content_message">
                            {{ note.message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>



        <script>
            HTMLElement.prototype.posisi_x = 0;
            HTMLElement.prototype.posisi_y = 0;
            HTMLElement.prototype.posisi_x_prev = 0;
            HTMLElement.prototype.posisi_y_prev = 0;
            HTMLElement.prototype.set_x = function (value){
                console.log("set_x="+value);
                this.posisi_x = value;
                this.style.left = this.posisi_x + "px";
            };
            HTMLElement.prototype.set_y = function (value){
                console.log("set_y="+value);
                this.posisi_y = value;
                this.style.top = this.posisi_y + "px";
            };
            HTMLElement.prototype.get_x = function (){
                return this.posisi_x;
            };
            HTMLElement.prototype.get_y = function (){
                return this.posisi_y;
            };
        </script>




        <script>


            class MessageCardClass{
                static last_focused_message_card = null;
                static instances = [];
                static css_z_index_counter = 1;

                constructor(MessageCardID, init_x, init_y) {
                    MessageCardClass.instances.push(this);
                    this.identity = "MessageCard_" + MessageCardID;
                    this.element = document.getElementById(this.identity);
                    this.is_mouse_down = false;


                    if (localStorage.getItem(this.identity + "_x") == null
                        || localStorage.getItem(this.identity + "_y") == null) {
                        this.element.set_x(init_x);
                        this.element.set_y(init_y);
                        this.element.style.zIndex = 0;
                    }else{
                        this.element.set_x(parseInt(localStorage.getItem(this.identity + "_x")));
                        this.element.set_y(parseInt(localStorage.getItem(this.identity + "_y")));
                        this.element.style.zIndex = parseInt(localStorage.getItem(this.identity + "_z"));
                    }

                    this.element.addEventListener(
                        'mousedown', e => {
                            {#if (MessageCardClass.last_focused_message_card != null)#}
                            {#    MessageCardClass.last_focused_message_card.style.zIndex = 1;#}

                            this.element.style.zIndex = MessageCardClass.css_z_index_counter;
                            MessageCardClass.css_z_index_counter += 1;
                            if (MessageCardClass.css_z_index_counter >= 1000){
                                var decrement = 100;

                                MessageCardClass.css_z_index_counter -= decrement;
                                for (let i = 0; i < MessageCardClass.instances.length; i++) {
                                    MessageCardClass.instances[i].element.style.zIndex -= decrement;
                                    localStorage.setItem(MessageCardClass.instances[i].identity + "_z",
                                        MessageCardClass.instances[i].element.style.zIndex -= 10);
                                }
                            }

                            {#MessageCardClass.last_focused_message_card = this.element;#}

                            this.is_mouse_down = true;
                            localStorage.setItem("MessageCardClass_maxZindex", MessageCardClass.css_z_index_counter);
                            console.log("down");
                        }, true
                    );
                    this.element.addEventListener(
                        'mouseup', e => {
                            this.is_mouse_down = false;
                            console.log("up");

                            localStorage.setItem(this.identity + "_x", this.element.get_x());
                            localStorage.setItem(this.identity + "_y", this.element.get_y());
                            localStorage.setItem(this.identity + "_z", this.element.style.zIndex);
                        }, true
                    );

{% comment %}                    this.element.addEventListener(
                        'mouseout', e => {
                            this.is_mouse_down = false;
                            console.log("out");
                        }, true
                    );{% endcomment %}

                    this.element.addEventListener(
                        'mousemove', e => {
                            e.preventDefault();

                            console.log(this.is_mouse_down);
                            if (this.is_mouse_down) {
                                var delta_x = e.clientX - this.element.posisi_x_prev;
                                var delta_y = e.clientY - this.element.posisi_y_prev;

                                console.log("delta_x="+delta_x + "  delta_y=" + delta_y);

                                console.log("curr_x=" + this.element.get_x());

                                this.element.set_x(this.element.get_x() + delta_x);
                                this.element.set_y(this.element.get_y() + delta_y);
                            }

                            this.element.posisi_x_prev = e.clientX;
                            this.element.posisi_y_prev = e.clientY;
                        }, true
                    );

                }
            };

            if (localStorage.getItem("MessageCardClass_maxZindex") != null) {
                MessageCardClass.css_z_index_counter = parseInt(localStorage.getItem("MessageCardClass_maxZindex"));
            }

            var MessageCards = [];
            var curr_x = 0;
            var curr_y = 0;

            for (let i = 0; i < {{ notes.count }}; i++) {
                MessageCards.push(
                    new MessageCardClass(i, curr_x, curr_y)
                );

                {#curr_x += 300;#}
                if (curr_x > window.innerWidth){
                    curr_x = 0;
                    curr_y += 300;
                }
            }

        </script>


    </body>
</html>
