{% load static %}


<link rel="stylesheet" href="{% static  'css/bootstrap.css' %}" />


{% comment %}<div class="container">{% endcomment %}
<nav class="navbar navbar-expand-sm navbar-dark bg-danger" style="z-index: 20000;">
    {% comment %}<a class="navbar-brand" href="#">Home Page</a>{% endcomment %}

    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navigation_bar_menu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navigation_bar_menu">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link fw-bolder" href="add">Add New Note</a>
            </li>
            <li class="nav-item  fw-bolder">
                <a class="nav-link" href="./">Table View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  fw-bolder" href="note-list">Card View</a>
            </li>
        </ul>
    </div>

</nav>
{#</div>#}

<script src="{% static 'js/bootstrap.bundle.js' %}"></script>