body {
    background: #c2ecff;
}



.negative_z_index{
 /* -10000 karena nanti bisa saja z-index dari instance MessageCardClass bernilai negatif  */
    z-index: -10000;
}

.MessageCard{
    position: relative;
    cursor: pointer;

    display: inline-grid;
    grid-template-rows: auto 1fr;
    box-sizing:border-box;
    background: #9CDCFE;

    /*border: 2px solid #c2ffda;*/

    min-height: 170px;
    max-height: 300px;
    min-width: 250px;
    max-width: 350px;
    box-sizing:border-box;
    aspect-ratio: 6/5;

    box-shadow: 1px 1px 3px 1px rgba(77, 120, 255, 0.2), -1px 1px 3px 1px rgba(77, 120, 255, 0.2);
}


.MessageCard .MessageCard_content{
    overflow-y: auto;
    max-height: inherit;
    box-sizing:border-box;
}

.MessageCard .MessageCard_header{
    background: #0068ff;
    color: #ffffff;

    font-weight: bold;
    font-family: "Arial";
}

.MessageCard .MessageCard_content_FromToWrapper{
    collapse:separate;

    margin-bottom: 3px;
    display: table;
}



.MessageCard .MessageCard_content .MessageCard_content_FromWrapper{
    display: table-row;
}
.MessageCard .MessageCard_content .MessageCard_content_keyFrom{
    display: table-cell;
    padding-right: 8px;
}
.MessageCard .MessageCard_content .MessageCard_content_valueFrom{
    display: table-cell;
}


.MessageCard .MessageCard_content .MessageCard_content_ToWrapper{
    display: table-row;
}
.MessageCard .MessageCard_content .MessageCard_content_keyTo{
    display: table-cell;
    padding-right: 8px;
}
.MessageCard .MessageCard_content .MessageCard_content_valueTo{
    display: table-cell;
}
