body {
    background-color: #c4ebff;
}

#table_of_friends {
    border-collapse: collapse;
    border-radius: 5px;
    background-color: #defff5;
    display: inline-block;
    text-align: center;
    transition: background-color 2s ease-in;
}

#table_of_friends thead th{
    font-size: 15pt;
}

#table_of_friends thead tr{
    background-color: #f08b8b;
    border-radius: 5px;
}
#table_of_friends thead tr th:first-child{
    border-radius: 5px 0 0 0;
}
#table_of_friends tr th:last-child{
    border-radius: 0 5px 0 0;
}

#table_of_friends tr{
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

#table_of_friends tbody tr:hover{
    background-color: #b1ffe8;
}

#table_of_friends tbody td, #table_of_friends thead th{
    padding: 4px 8px 4px 8px;
    min-width: 92px;
    max-width: 200px;
}

/*
#table_of_friends tbody td:last-child{
    max-width: 400px;
}
*/


#horizontal_center{
    grid-row-start: 2;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 30px 30px 30px 30px;
}

#vertical_center{
    height: 95vh;
    display: grid;
    grid-template-rows: 1fr auto 1fr 40px;
    justify-content: center;
}




.control_btn{
    font-weight: bold;
    border: rgba(0, 0, 0, 0);
    border-radius: 3px;
    margin: 2px;
    cursor: pointer;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}


.view_control_btn{
    background: #0a53be;
    color: white;
}

.view_control_btn:hover{
    background: #0d6efd;
}


.edit_control_btn{
    background: green;
    color: white;
}

.edit_control_btn:hover{
    background: limegreen;
}

.del_control_btn{
    background: red;
    color: white;
}

.del_control_btn:hover{
    background: #eb8484;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

/*

.popup_background{
    position: absolute;
    top:0;
    left:0;
    z-index: 10000;
    background-color: rgba(111, 111, 111, 0.43);
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr auto 1fr 0;
    grid-template-columns: 1fr auto 1fr 0;
}

.box_content{
    grid-column-start: 2;
    grid-row-start: 2;
    width: 50vw;
}


.box_content_body{
    background-color: white;
    min-height: 400px;
}

.box_content_nonbody{
    background-color: #86b7fe;

}

.box_content_header{
    border-radius: 7px 7px 0 0;
    height: 15px;
}

.box_content_footer{
    border-radius: 0 0 7px 7px;
    height: 10px;
}*/

