{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Note List</title>

        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">

        <script src="{% static "js/bootstrap.bundle.js" %}"></script>
        <script src="{% static "js/jquery-3.6.0.min.js" %}"></script>

        <link rel="stylesheet" href="{% static "css/lab_5_index.css" %}">
        <script src="{% static "js/lab_5_index.js" %}"></script>
    </head>
    <body>

        <div id="vertical_center">
        <div id="horizontal_center">
        <table id="table_of_friends">
        <thead>
            <tr>
                <th>from</th>
                <th>to</th>
                <th>title</th>
                <th>message</th>
                <th>Actions</th>
            </tr>
        </thead>


        <tbody>
            {% for note in notes %}
            <tr>
                <td>{{ note.dari }}</td>
                <td>{{ note.to }}</td>
                <td>{{ note.title }}</td>
                <td>{{ note.message }}</td>

                <td>
                    <button class="control_btn view_control_btn">view</button>
                    <button class="control_btn edit_control_btn">edit</button>
                    <button class="control_btn del_control_btn">delete</button>
                </td>

            </tr>
            {% endfor %}
        </tbody>

        <template id="action_controls_template">
            <td>
                <button class="control_btn view_control_btn">view</button>
                <button class="control_btn edit_control_btn">edit</button>
                <button class="control_btn del_control_btn">delete</button>
            </td>
        </template>

        </table>
        </div>
        </div>


        {% comment %}<div class="popup_background">
            <div class="box_content">
                <div class="box_content_header box_content_nonbody">

                </div>
                <div class="box_content_body">

                </div>
                <div class="box_content_footer box_content_nonbody">

                </div>
            </div>
        </div>{% endcomment %}

{% comment %}        <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
            Open modal
        </button>{% endcomment %}

        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Heading</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Modal body..
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

    </body>
</html>
