<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
  </head>
  <body>

      <style>
        #table_of_friends {
            border-collapse: separate;
            border-spacing: 25px 5px;
        }
      </style>
    <table id="table_of_friends">
      <tr>
        <th>from</th>
        <th>to</th>
        <th>title</th>
        <th>message</th>
      </tr>


        {% for note in notes %}
        <tr>
            <td>{{ note.dari }}</td>
            <td>{{ note.to }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
        </tr>
        {% endfor %}


    </table>
  </body>
</html>
