<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>

      <style>
        #table_of_friends {
            border-collapse: separate;
            border-spacing: 25px 5px;
        }
      </style>
    <table id="table_of_friends">
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TO DO loop from Friend model -->

        {% if friends %}
            {%for friend in friends%}
            <tr>
                <td>{{friend.name}}</td>
                <td>{{friend.npm}}</td>
                <td>{{friend.DOB}}</td>

            </tr>
            {%endfor%}
        {% endif %}


      <!-- EXAMPLE SECTION -->
      <tr>
        <td>Asmara Nugi</td>
        <td>1706032156</td>
        <td>May 1, 1999</td>
      </tr>
      <tr>
        <td>Fadli Rais</td>
        <td>1706032370</td>
        <td>Sept 11, 1998</td>
      </tr>
      <!-- END SECTION -->
    </table>
  </body>
</html>
